body {
  background-color: #1F1F1F;
  font-family: "Roboto", sans-serif;
  color: #E0E0E0;
}

a {
  text-decoration: none;
  color: inherit;
}

.coins {
  background-color: #2A2A2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 61vh;
  text-align: center;
  padding-bottom: 47px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.home{
  background-color: #2A2A2A;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 84vh;
  margin-top: 10px;
  text-align: center;
  padding-bottom: 47px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  background-color: #007BFF;
  color: #E0E0E0;
  font-size: 24px;
  padding: 14px;
  border-radius: 30px;
  text-align: center;
  width: 260px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.scrollable-box {
  width: 85%;
  height: 59vh;
  margin: auto;
  padding: 18px;
  overflow-y: auto;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.coin-item {
  background-color: #2A2A2A;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.coin-item:hover {
  transform: scale(1.01);
  background-color: #1E3A4C; 
}

.coin-rank,
.coin-name,
.coin-price,
.coin-marketcap {
  font-size: 1.1rem;
  color: #E0E0E0;
  font-weight: 500;
  text-align: center;
}

.coin-rank {
  flex: 0 0 10%;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
.coin-rank {
  flex: 0 0 10%;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}

.coin-name {
  flex: 0 0 35%; 
  text-align: center; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coin-price {
  flex: 0 0 25%; 
  text-align: left; 
}

.coin-marketcap {
  flex: 0 0 30%;
  text-align: center; 
}

.coin-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.coin-link {
  text-decoration: none;
  color: inherit;
}

.scrollable-box::-webkit-scrollbar {
  width: 8px;
}

.scrollable-box::-webkit-scrollbar-thumb {
  background-color: #007BFF; 
  border-radius: 10px;
}

.scrollable-box::-webkit-scrollbar-track {
  background: #333;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.search-input {
  width: 90%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #444;
  font-size: 16px;
  outline: none;
  background-color: #2A2A2A;
  color: #E0E0E0;
  margin-bottom: 10px;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: -40px;
  margin-top: -5px;
}

.search-icon {
  width: 24px;
  height: 25px;
  color: #333;
}

.coin-page {
  background-color: #2A2A2A; 
  padding: 20px;
  color: #E0E0E0; 
  font-family: Arial, sans-serif;
  width: 90%; 
  border-radius: 10px;
  text-align: center;
  margin-top: 5px;
}

.coin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.coin-logo {
  width: 60px;
  height: 60px;
  margin-right: 15px;
}

.percent-change-box {
  background-color: #1E3A4C; 
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.9em;
  color: #ffffff;
}

.crypto-stats {
  font-size: 1.1em;
  margin: 20px 0;
}

.crypto-stats p {
  margin: 8px 0;
}

.buy-button {
  background-color: #45a049; 
  color: white;
  padding: 10px 0;
  font-size: 1.2em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  margin-top: 45px;
}

.stats-box {
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 10px;
  border-radius: 8px;
  color: #fff;
  margin: 10px 0;
}

.stat {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  padding-top: 8px;
  margin-bottom: 7px;
}

.stat-title {
  font-weight: bold;
  color: #aaa;
}

.stat-value {
  color: #fff;
}

.btc-dominance-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(145deg, #1a1a1a, #292929); 
  border-radius: 12px; 
  padding: 8px 15px;
  margin: 10px auto; 
  max-width: 300px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

.btc-dominance-title {
  font-size: 16px; 
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 4px; 
  text-transform: uppercase;
  letter-spacing: 1.2px; 
}

.btc-dominance-value {
  font-size: 22px; 
  font-weight: 600;
  color: #ffcc00; 
}

.chart-container {
  width: 400px;
  height: 200px; 
  margin: 0 auto; 
  position: relative;
  left: -15px; 
}

.direction-button {
  background-color: #1E3A4C;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: -10px;
  margin-bottom: 20px;
  align-self:flex-start;
  display: flex;
}

.direction-button:hover {
  background-color: #285A73;
}
