.header {
  position: sticky;
}

body {
  background-color: #45818e;
  font-family: "Roboto", sans-serif;
  color: #f1f1f1;
}

.home {
  background-color: #45818e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  padding-bottom: 47px;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  background-color: white;
  color: #333;
  font-size: 24px;
  padding: 14px;
  border-radius: 30px;
  text-align: center;
  width: 260px;
  cursor: pointer;
  border: 2px solid #333;
  transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.coins {
  background-color: #45818e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
  text-align: center;
  padding-bottom: 47px;
}

.scrollable-box {
  width: 85%;
  height: 60vh;
  margin: auto;
  padding: 20px;
  overflow-y: auto;
  background-color: #333;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid rgba(0, 0, 0, 0.05);
}

.coin-item {
  background-color: #016a70;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.coin-item:hover {
  transform: scale(1.02);
  background-color: #f5f5f5;
}

.coin-rank,
.coin-name,
.coin-price,
.coin-marketcap {
  font-size: 1.1rem;
  color: #f5f5f5;
  font-weight: 500;
  margin: 0 15px;
}

.coin-rank {
  font-size: 1.3rem;
  font-weight: 700;
}

.scrollable-box::-webkit-scrollbar {
  width: 8px;
}

.scrollable-box::-webkit-scrollbar-thumb {
  background-color: #016a70;
  border-radius: 10px;
}

.scrollable-box::-webkit-scrollbar-track {
  background: #333;
}

.coin-link {
  text-decoration: none;
  color: inherit;
}

.coin-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.search-input {
  width: 250px;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: -40px;
  margin-top: -5px;
}

.search-icon {
  width: 24px;
  height: 25px;
  color: #333;
}

.search-input {
  width: 90%;
  margin-bottom: 10px;
}
