.header {
  position: sticky;
}

.home {
  background-color: #45818e; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  height: 85vh;
  text-align: center;
  padding-bottom: 47px;
}

.button-container {
  display: flex; 
  flex-direction: column; 
  gap: 15px; 
}

.button {
  background-color: white; 
  color: #333; 
  font-size: 24px; 
  padding: 14px;
  border-radius: 30px; 
  text-align: center; 
  width: 260px;
  cursor: pointer;
  border: 2px solid #333;
  transition: background-color 0.3s, transform 0.2s; 
}

.button:hover {
  background-color: #f0f0f0; 
  transform: scale(1.05); 
}
